build/
resources/openaip/api.key
resources/openaip/carto.key
resources/openaip/cache/
android/.gradle/
android/.tmp/
android/build/
android/local.properties
android/.tablet-wlan
android/.phone-wlan
android/sdk/
android/jdk/
android/avd/
android/emulator.log
android/emulator.pid
android/third_party/
android/app/build/
android/app/.cxx/
android/app/src/main/assets/
android/app/src/main/java/org/
